.data th{
		background: black;
		color: white;
		text-align: center;
		font: 20px open sans light;
}

.data td{
	background: grey;
	text-align: center;
}

.link_tambah{
	font-size: 15px;
	text-decoration: none;
	float: right;
	color: white;
	display: block;
	padding: 5px 10px;
	background: orange;
}

.link_tambah:hover{
	padding: 6px 11px;
}

.link_aksi{
	color: white;
	text-decoration: none;
}

.link_aksi:hover{
	color: #172659;
}